/* ==========================================================================
	General 
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);
@import url(http://fonts.googleapis.com/css?family=Lato:700);
@import url('https://fonts.googleapis.com/css?family=Bitter');

html,
body {
    overflow-x: hidden;
}

body {
    background: #f5f5f5;
    font-size: 14px;
    line-height: 24px;
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

p {
    margin-bottom: 24px;
}

blockquote {
    margin: 24px 0;
    margin-left: 72px;
    border-left: 4px solid #4169e1;
    padding: 0;
    padding-left: 38px;
    font-size: 16px;
    line-height: 28px;
    color: #232323;
    font-weight: 500;
    text-transform: uppercase;
}

blockquote p {
    position: relative;
}

blockquote p:before {
    content: '“';
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 28px;
    position: absolute;
    left: -12px;
    top: 0;
}

blockquote p:after {
    content: '”';
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 28px;
}

blockquote footer {
    font-size: 13px;
    line-height: 28px;
    text-transform: uppercase;
    color: #4169e1;
    margin-top: 12px;
}

blockquote footer:before {
    content: '';
}

a {
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    -ms-transition: .25s;
    transition: .25s;
    outline: none !important;
    color: #4169e1;
}

a:hover {
    color: #4169e1;
}

a:focus {
    text-decoration: none;
}

a img {
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    -ms-transition: .25s;
    transition: .25s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

a:hover img {
    opacity: .75;
}

.list-unstyled li {
    margin-bottom: 12px;
}

.list-icons {
    padding-left: 0;
    margin-left: 36px;
    list-style-type: none;
}

.list-icons>li {
    position: relative;
}

.list-icons>li>i {
    position: absolute;
    left: -36px;
    width: 36px;
    top: 2px;
    text-align: center;
    color: #232323;
    font-size: 18px;
    vertical-align: middle;
}

.list-icons.iron>li>i {
    color: #434b4d;
}

.bold-list {
    font-weight: 500;
    text-transform: uppercase;
}

.bold-list li {
    margin-bottom: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 700;
    color: #232323;
}

h1 {
    font-size: 50px;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 24px;
}

h2 {
    font-size: 22px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 36px;
}

h3 {
    font-size: 20px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 36px;
    font-weight: 500;
}

h4 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 24px;
}

h5 {
    font-size: 15px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 24px;
}

h6 {
    font-size: 14px;
    line-height: 32px;
    font-weight: 500;
}

h3.small-margin-bottom {
    margin-bottom: 6px;
}

.container {
    width: 1510px;
    margin: 0 auto;
}

.fa-chevron {
    color: #4169e1;
    font-size: 55px;
    margin-left: 20px;
}

.fa-chevron:hover {
    cursor: pointer;
    filter: drop-shadow(4px 5px 4px rgb(201, 201, 254));
    transition: 0.3s all;
    color: blue;
}

.fa-mail-bulk {
    padding-right: 300px;
    padding-left: 300px;
    font-size: 100px;
    color: #4169e1;
}

.fa-mail-bulk:hover {
    transition: 0.3s all;
    filter: drop-shadow(10px 15px 15px rgb(201, 201, 254));
    color: blue;

}

.fa-pagelines {
    padding-left: 40px;
    padding-bottom: 30px;
    padding-right: 40px;
}

.fa-pagelines:hover {
    color: #4169e1;
    transition: 0.4s all;
    filter: drop-shadow(4px 5px 4px rgb(147, 147, 210));
}

.capitalise {
    text-transform: capitalize!important;
}

.lowercase {
	text-transform: lowercase!important;
}

.align-right {
	text-align: right!important;
}

.info {
    font-size: 22px;
    line-height: 35px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-row {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.label {
	margin-bottom: 10px;
	color: #434b4d;
	font-size: 15px;
}
.pale-iron {
	color: #727879;
}
.royal-blue-font {
	color: #4169e1!important;
}
.list-skill:hover .royal-blue-hov {
    color: #4169e1;
    transition: 0.3s color;
}
.portfolio-item:hover .royal-blue-hov {
    color: #4169e1;
    transition: 0.3s color;
}
.li-glowing:hover {
	filter: drop-shadow(4px 3px 5px rgb(201, 201, 254));
	color: blue;
	transition: 0.4s all;
}
.logo {
    margin-top: 5px;
    margin-left: 5%;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 35px;
    height: 38px;
    float: left;
}
.bottom:hover .logo {
    filter: brightness(1.3);
    background-color: #4169e18c;
    transition: 0.5s all;
}
/* ==========================================================================
  	Buttons
   ========================================================================== */
.button {
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    -ms-transition: .25s;
    transition: .25s;
    outline: none !important;
}

.button:hover {
    text-decoration: none;
}

.button i {
    font-size: 24px;
    vertical-align: middle;
}

.button.icon-left i {
    margin-right: 12px;
}

.button.icon-right i {
    margin-left: 12px;
}

.button-row {
    margin-top: 48px;
}

.button-row .button {
    margin-right: 32px;
    margin-bottom: 12px;
}

@media all and (max-width: 1024px) {
    .button-row .button {
        display: block;
        margin-right: 0;
    }
}

/*==========  Solid Button  ==========*/
.solid-button {
    font-size: 15px;
    line-height: 26px;
    padding: 11px 29px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    text-align: center;
}

.solid-button:hover {
    box-shadow: 0 4px 7px rgb(147, 147, 210);
}

.solid-button.royal-blue {
    background: #4169e1;
    color: #fff;
}

.solid-button.white {
    background: #fff;
    color: #232323;
}

.solid-button.dark {
    background: #232323;
    color: #fff;
}

.solid-button.white-iron {
    background: #fff;
    color: #232323;
}

.solid-button.white-iron:hover {
    background: #434b4d;
    color: #fff;
}

.solid-button.small {
    font-size: 12px;
    padding: 2px 20px;
}

/*==========  Link Button  ==========*/
.link-button {
    font-size: 13px;
    line-height: 32px;
}

.link-button:hover {
    opacity: .75;
}

.link-button.white {
    color: #fff;
}

/*==========  Action Button  ==========*/
.action-button {
    background: #4169e1;
    color: #fff;
    font-size: 24px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .13), 0 6px 10px rgba(0, 0, 0, .3);
}

.action-button:hover {
    box-shadow: 0 6px 18px rgb(147, 147, 210), 0 9px 15px rgb(147, 147, 210);
    background: blue;
    transition: 0.3s all;
}

.button-nav {
    background: white;
    border-radius: 100px;

}

/* ==========================================================================
   Progress Bar
   ========================================================================== */

.progress {
    display: inline-block;
    width: 350px;
    height: 10px;
    border-radius: 20px;
}

.bar {
    border-radius: 20px;
    height: 100%;
    transition: width;
    transition-duration: 2s;
	transition-timing-function: cubic-bezier(.36, .55, .63, .48);
	
	
}
.bar-fin-adv {
	width: 90%;
	transition-delay: 0, 2s;
}
.bar-fin-upp {
	width: 75%;
}
.bar-fin-int  {
	width: 60%;
}
#skills:hover .bar-fin-adv {
	width: 99%;
}
#skills:hover .bar-fin-upp {
    width: 85%;
}
#skills:hover .bar-fin-int {
    width: 70%;
}

.circuit {
    background-color: #00b497;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='150' height='150'%3E%3Cpath fill='%23333333' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

.shadow {
    /* 25 50 */
    box-shadow: 0px 45px 50px rgba(0, 0, 0, 0.25);
}


/* ==========================================================================
   Header
   ========================================================================== */
.header {
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3);
    text-transform: uppercase;
}

.header .top {
    background: #414a4c;
    line-height: 50px;
    color: #fff;
    padding: 0 60px;
}

.header .top a {
    color: #fff;
}

.header .top a:hover {
    opacity: .75;
    text-decoration: none;
}

.header .top .available {
    float: left;
}

.header .top .available i {
    font-size: 36px;
    line-height: 50px;
    margin-right: 8px;
    vertical-align: middle;
}

.header .top .right-icons {
    float: right;
    font-size: 24px;
}

.header .top .right-icons a {
    margin-left: 12px;
}

.header .bottom {
    background: #fff;
    line-height: 70px;
    padding: 0 60px;
    color: #232323;
    font-weight: 500;
    position: relative;
}

.header .bottom a {
    color: #232323;
}

.header .bottom .title {
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    float: left;
}

.header .bottom .title a:hover {
    opacity: .75;
    text-decoration: none;
}

.main-nav {
    float: right;
}

.main-nav ul {
    margin-bottom: 0;
}

.main-nav ul>li {
    padding: 0;
    display: inline-block;
    margin-left: -4px;
    margin-bottom: 0;
}

.main-nav ul>li a {
    padding: 0 20px;
    display: inline-block;
    line-height: 70px;
    height: 70px;
    border-bottom: 5px solid transparent;
}

.main-nav ul>li a:hover {
    border-bottom: 5px solid #4169e1c8;
    text-decoration: none;
}

.main-nav ul>li.active a {
    border-bottom: 5px solid #2b58de;
    text-decoration: none;
}

.header-action-button-wrapper {
    width: 120px;
    height: 70px;
    display: inline-block;
}

.header-action-button {
    position: absolute;
    bottom: -30px;
    right: 60px;
    z-index: 99;
}

.header .bottom .action-button {
    color: #fff;
}

.responsive-menu-open {
    display: none;
    float: right;
    text-transform: uppercase;
    line-height: 70px;
    height: 70px;
    text-decoration: none;
}

.responsive-menu-open:hover {
    text-decoration: none;
}

.responsive-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    min-width: 100%;
    background: #fff;
    z-index: 999;
    padding: 24px;
    overflow-y: scroll;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    -ms-transition: .25s;
    transition: .25s;
}

.responsive-menu.open {
    left: 0;
}

.responsive-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    text-transform: uppercase;
    text-decoration: none;
}

.responsive-menu-close:hover {
    text-decoration: none;
}

.responsive-nav ul>li a {
    color: #222;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.responsive-nav ul>li.active a {
    color: #4169e1;
}

.no-scroll {
    overflow: hidden;
}

.span-contact {
    position: absolute;
    left: 200px;
    cursor: pointer;
}

.span-contact:hover {
    color: #e4eafc;
    transition: 0.3s color;
}

@media all and (max-width: 1024px) {
    .header .top {
        padding: 0 12px;
    }

    .header .top .available span {
        display: none;
    }

    .header .bottom {
        padding: 0 12px;
    }

    .main-nav {
        display: none;
    }

    .responsive-menu-open {
        display: inline-block;
    }

    .header-action-button-wrapper {
        width: 84px;
    }

    .header-action-button {
        right: 12px;
    }
}

/*==========  Popup  ==========*/
.popup,
.slide-out-popup {
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    position: absolute;
    top: 47px;
    right: 35px;
    z-index: 999;
    min-width: 118px;
    display: none;
}

.slide-out-popup {
    top: 54px;
    right: 41px;
}

.popup:before,
.slide-out-popup:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -10px;
    right: 30px;
}

.popup .social-nav ul,
.slide-out-popup .social-nav ul {
    margin-bottom: 0;
}

.popup .social-nav ul li,
.slide-out-popup .social-nav ul li {
    line-height: 30px;
    margin-bottom: 0;
}

.popup .social-nav ul li a,
.slide-out-popup .social-nav ul li a {
    color: #232323;
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0 20px;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.popup .social-nav ul li a:hover,
.slide-out-popup .social-nav ul li a:hover {
    color: #fff;
    background: #4169e1;
    font-weight: 700;
    text-decoration: none;
}

@media all and (max-width: 1024px) {
    .popup {
        right: 2px;
    }

    .popup:before {
        right: 15px;
    }
}

/*==========  Slide Out  ==========*/
.slide-out-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 99;
    display: none;
}

.slide-out {
    width: 380px;
    height: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -400px;
    background: #fff;
    z-index: 100;
    box-shadow: -2px 0 10px rgba(0, 0, 0, .4);
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    -ms-transition: .25s;
    transition: .25s;
}

.slide-out.open {
    right: 0;
}

.slide-out-header {
    background: #4169e1;
    padding: 30px;
    padding-top: 20px;
    color: #fff;
}

.slide-out-header a {
    color: #fff;
}

.slide-out-header a:hover {
    opacity: .75;
}

.slide-out-close {
    font-size: 24px;
}

.slide-out-header .open-search,
.slide-out-header .slide-out-share {
    font-size: 24px;
    margin-left: 12px;
}

.slide-out-header .image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    border: 5px solid #fff;
    background: #e2e2e2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    float: left;
    margin-top: 24px;
}

.slide-out-header .content {
    margin-left: 118px;
    padding-top: 18px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.slide-out-header .content h5 {
    margin-bottom: 0;
    color: #fff;
}

.slide-out-header .content span {
    line-height: 32px;
    font-weight: 500;
}

.slide-out-widgets {
    padding: 30px;
    padding-top: 50px;
}

.slide-out-widget {
    margin-bottom: 60px;
}

.slide-out-widget h4 {
    margin-bottom: 24px;
    color: #111;
}

@media all and (max-width: 768px) {
    .slide-out {
        width: 100%;
        right: -110%;
    }
}

/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
    text-align: center;
    color: #fff;
    font-weight: 500;
}

.footer .top {
    background: #434b4d;
    padding-top: 48px;
    padding-bottom: 18px;
}

.footer .bottom {
    background: #363c3e;
    line-height: 50px;
}

.footer h4 {
    color: #fff;
}

.footer .social-icons {
    margin-bottom: 24px;
}

/* ==========================================================================
   08. Social Icons
   ========================================================================== */
.social-icon {
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    color: #232323;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .13);
    margin: 0 4px;
    text-align: center;
}

.social-icon:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, .13), 0 6px 10px rgba(0, 0, 0, .3);
}

.footer .social-icon {
    box-shadow: 0 4px 12px rgba(0, 0, 0, .13), 0 6px 10px rgba(0, 0, 0, .3);
}

.social-icon:hover {
    background: #4169e1;
    color: #fff;
}

/* ==========================================================================
   Sections
   ========================================================================== */
.sections {
    display: block;
    height: auto;
    overflow: hidden;
    position: static;
    word-wrap: break-word;
}

.sections-wrapper {
    display: block;
    width: auto;
    height: auto;
    overflow: hidden;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
}

.sections-wrapper>section {
    width: 1600px;
    height: auto;
    float: left;
    padding: 72px 12px;
}

.sections-wrapper>section.no-padding-bottom {
    padding-bottom: 0;
}

.sections-wrapper>section.no-padding-bottom .padding-fix {
    padding-bottom: 72px;
}

.section-img {
    max-height: 650px;
    margin: 0 auto;
}

.img-border:hover {
    transition: 0.5s box-shadow;
    box-shadow: -10px 10px 20px #4169e189;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.section-nav {
    position: fixed;
    bottom: 80px;
    right: 60px;
    z-index: 9;
}

.section-nav a {
    display: block;
    width: 58px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    font-size: 36px;
    border-radius: 100%;
    background: #000;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .13), 0 6px 10px rgba(0, 0, 0, .3);
    margin-top: 20px;
}

.section-nav a:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, .13), 0 9px 15px rgba(0, 0, 0, .3);
}

.section-nav a.disabled {
    pointer-events: none;
    cursor: default;
    opacity: .75;
}

.spacer {
    margin-bottom: 48px;
}
.spacer-sm {
    margin-bottom: 20px;
}
.spacer-left {
	margin-left: 50px;
}
.spacer-left-sm {
	margin-left: 5px;
}
.padder-right {
    padding-right: 30px;
}
.padder-right-sm {
    padding-right: 10px;
}
.padder-left {
    padding-left: 15px;
}
.middle {
    padding-left: 40%;
}
.contacts-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media all and (max-width: 1024px) {
    .vertical-center {
        display: block;
    }

    .section-img {
        max-height: 256px;
    }

    .section-nav {
        bottom: 12px;
        right: 12px;
    }

    .section-nav a {
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 24px;
        margin-top: 12px;
    }
}

/* ==========================================================================
   Services
   ========================================================================== */
.service {
    background: #fff;
    text-align: center;
    padding: 48px 0;
    color: #232323;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    -ms-transition: .25s;
    transition: .25s;
    margin-bottom: 24px;
}

.service:hover {
    background: #4169e1;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
}

.service .icon {
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 24px;
}

.service h5 {
    margin-bottom: 0;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    -ms-transition: .25s;
    transition: .25s;
}

.service:hover h5 {
    color: #fff;
}

/* ==========================================================================
    Testimonials
   ========================================================================== */
.testimonial-slider {
    text-align: center;
    font-weight: 500;
    color: #232323;
    margin-top: 24px;
}

.testimonial-slider .image {
    width: 115px;
    height: 115px;
    display: block;
    border: 5px solid #fff;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 20px;
}

.testimonial-slider .image img {
    transform-style: inherit;
}

.testimonial-slider .sep {
    width: 65px;
    height: 3px;
    margin: 0 auto;
    background: #4169e1;
    margin-bottom: 30px;
    position: relative;
}

.testimonial-slider .sep:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: #4169e1 transparent transparent transparent;
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -6px;
}

.testimonial-slider p {
    font-size: 18px;
    line-height: 28px;
    font-style: italic;
}

.testimonial-slider .author {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 32px;
    display: inline-block;
}

/* ==========================================================================
   Education
   ========================================================================== */
.education {
    padding: 132px 0;
    margin: 72px 0;
}

.education .line {
    border-bottom: 1px dashed #232323;
    position: relative;
    margin: 0 18px;
    padding-bottom: 12px;
    margin-bottom: 24px;
    position: relative;
    top: -1px;
}

.education .line:before {
    display: block;
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 4px solid #4169e1;
    border-radius: 100%;
    position: absolute;
    left: -18px;
    bottom: -7px;
}

.education .line:after {
    display: block;
    content: '';
    width: 14px;
    height: 14px;
    border-style: solid;
    border-width: 7.5px 0 7.5px 20px;
    border-color: transparent transparent transparent #4169e1;
    position: absolute;
    right: -18px;
    bottom: -7px;
}

.education:hover .line:after {
    filter: brightness(1.75) drop-shadow(5px 2px 5px #4169e185);
    transform: scale(1.5);
    transition: 0.4s all;
}

.education .item {
    width: 25%;
    float: left;
    position: relative;
    text-align: center;
    color: #232323;
}

.education .item .marker {
    width: 22px;
    height: 22px;
    background: #fff;
    border: 6px solid #4169e1;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -11px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .25);
    z-index: 2;
}

.education .item .content {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    padding: 24px;
    position: absolute;
    top: -172px;
    left: 0;
    right: 0;
    margin: 0 12px;
}

.education .item:nth-child(even) .content {
    top: auto;
    bottom: -132px;
}

.education .item .content:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 0 0 18px;
    border-color: transparent transparent transparent #fff;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, .15);
    position: absolute;
    bottom: -9px;
    left: 50%;
    margin-left: -9px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.education .item:nth-child(even) .content:after {
    border-width: 0 18px 18px 0;
    border-color: transparent #fff transparent transparent;
    box-shadow: none;
    position: absolute;
    top: -9px;
    bottom: auto;
}

.education .item .content span {
    font-size: 13px;
    line-height: 26px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.education .item .content h4 {
    line-height: 26px;
    margin-bottom: 0;
}

.education .item .year {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    position: relative;
    bottom: -44px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.education .item:nth-child(even) .year {
    top: -44px;
    bottom: auto;
}

@media all and (max-width: 768px) {
    .education {
        position: relative;
        padding: 0;
        margin: 18px 0;
        margin-bottom: 42px;
    }

    .education .item {
        width: 100%;
        float: none;
        margin-bottom: 24px;
    }

    .education .item:last-of-type {
        margin-bottom: 0;
    }

    .education .item .content {
        position: static;
    }

    .education .line {
        border-bottom: none;
        border-left: 1px dashed #232323;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 1px;
        margin: 0;
        padding: 0;
    }

    .education .line:before {
        top: -18px;
        bottom: -7px;
        left: -7px;
    }

    .education .line:after {
        right: auto;
        bottom: -18px;
        left: -7px;
    }

    .education .item .content {
        padding: 24px;
        position: static;
        margin: 0;
        margin-left: 36px;
    }

    .education .item .marker {
        position: absolute;
        top: 50%;
        left: 0;
        margin-left: -11px;
        margin-top: -27px;
    }

    .education .item .content:after {
        border-width: 18px 0 0 18px;
        border-color: transparent transparent transparent #fff;
        box-shadow: -1px 2px 2px rgba(0, 0, 0, .15);
        bottom: auto;
        left: 36px;
        top: 50%;
        margin-top: -25px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .education .item:nth-child(even) .content:after {
        border-width: 18px 0 0 18px;
        border-color: transparent transparent transparent #fff;
        box-shadow: -1px 2px 2px rgba(0, 0, 0, .15);
        bottom: auto;
        left: 36px;
        top: 50%;
        margin-top: -25px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .education .item .year {
        position: static;
        margin: 0 auto;
        padding-left: 36px;
        margin-top: 6px;
    }
}

/* ==========================================================================
   Icon Box
   ========================================================================== */
.icon-box {
    text-align: center;
    margin: 12px 0;
}

.icon-box .icon {
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 48px;
    color: #232323;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .25);
    margin-bottom: 24px;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    -ms-transition: .25s;
    transition: .25s;
}

.icon-box:hover .icon {
    background: #4169e1;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
}

.icon-box h6 {
    line-height: 12px;
    margin-bottom: 0;
}

.portfolio-item {
    padding: 20px;
}
